a {
  text-decoration: none;
  color: #2492d1;
}

h3 {
  font-style: normal;
  font-weight: normal;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  margin: 0 auto;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  margin-top: 20px;
  width: 220px;
}

li {
  margin-top: 5px;
}

main {
  margin: 0 auto;
  max-width: 900px;
}

pre {
  padding-left: 10px;
  background-color: #dfdfdf;
  border-radius: 10px;
}

h2 {
  padding-top: 20px;
  border-top: 1px solid #bebebe;
}

footer {
  margin: 0 auto;
  margin-top: 20px;
  width: 900px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfdfdf;
  border-radius: 10px 10px 0px 0px;
}

footer img {
  margin: 0;
  height: 30px;
  width: 80px;
}

.footer_rsschool {
  margin-right: 20px;
}

.footer_git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}
